@use 'styles/variables' as vars;
@import 'bootstrap/scss/bootstrap';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-raised-button:not(.mat-mdc-button-disabled),
.mat-mdc-unelevated-button:not(.mat-mdc-button-disabled) {
    --mdc-protected-button-container-color: #{vars.$button-bg};
    --mdc-filled-button-container-color: #{vars.$button-bg};
    --mdc-protected-button-label-text-color: #1a1a1a;
    --mdc-filled-button-label-text-color: #1a1a1a;

    &:hover {
        --mdc-protected-button-container-color: #{vars.$button-bg-hover};
        --mdc-filled-button-container-color: #{vars.$button-bg-hover};
    }
}